version: '3.8'

services:
  monitoring-api:
    build:
      context: .
      dockerfile: dockerfile.api
    container_name: monitoring-api
    ports:
      - "5000:5000"
    restart: unless-stopped
    networks:
      - monitoring_network
    env_file:
      - .env
    environment:
      - OAUTHLIB_INSECURE_TRANSPORT=1
    volumes:
      - api_data:/app/data

  monitoring-client:
    build:
      context: .
      dockerfile: dockerfile.client
    container_name: monitoring-client
    depends_on:
      - monitoring-api
    environment:
      - API_ENDPOINT=http://monitoring-api:5000/api/ingest
    networks:
      - monitoring_network
    volumes:
      - client_data:/app
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  client_data:
  api_data:

networks:
  monitoring_network:
    driver: bridge